{% extends "base.html" %}
{% block content %}
<div class="row" style="padding-top:15px">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        {% include 'includes/form_error.html' %}
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              {% include 'includes/search_form.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if data %}
    <div class="row" id="results">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">Found {{data.result|length}} {{service}} {% if form.name.data %}named{% else %}in{% endif %} {{query}}</h5>
            </div>
            {% for result in data.result|sort(attribute='organisation_name') %}
            <div class="list-group-item" id="{{loop.index}}">
              <p class="lead">{{result.organisation_name}}</p>
              <p><i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i> {% if result.address1 %}{{result.address1}},{% endif %} {% if result.address2 %}{{result.address2}},{% endif%} {% if result.address3 %}{{result.address3}},{% endif %} {% if result.city %}{{result.city}},{% endif %} {% if result.county %}{{result.county}},{% endif %} {% if result.postcode %}{{result.postcode}}{% endif %}</p>
              {% if result.phone %}<p><i class="fa fa-phone fa-fw fa-lg" aria-hidden="true"></i> <a href="tel:{{result.phone}}">{{result.phone}}</a></p>{% endif %}
              {% if result.email %}<p style="word-wrap: break-word;"><i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i> <a href="mailto:{{result.email}}" target="_blank">{{result.email}}</a></p>{% endif %}
              {% if result.website %}<p style="word-wrap: break-word;"><i class="fa fa-globe fa-fw fa-lg" aria-hidden="true"></i> <a href="{{result.website}}" target="_blank">{{result.website}}</a></p>{% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-8" style="position:fixed; right:0;">
    <div class="panel panel-default" style="height:calc(100vh - 95px);">
      <div class="panel-body" id="map" style="height:100%">
        <script>
          var results = new L.featureGroup();

          {% if data %}
          {% for result in data.result %}
          L.marker([{{result.latitude}}, {{result.longitude}}]).bindPopup("{{result.organisation_name}}").on('click', zoomToFeature).addTo(results);
          {% endfor %}
          {% endif %}

          var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors.'
          });

      		var map = L.map('map', { layers: [osm, results] }).setView([54.525564, -3.921976], 5);

          map.fitBounds(results.getBounds());

      		var baseLayers = {
      			"OpenStreetMap": osm
      		};

      		var overlays = {
      			"Results": results
      		};

      		L.control.layers(baseLayers, overlays).addTo(map);

          function zoomToFeature(e) {
              map.setView(e.latlng, 16);
          }
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
