{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-fluid">
      <h3><i class="fa fa-question-circle fa-fw fa-lg" aria-hidden="true"></i> About</h3>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <p class="lead">Mash Health is a digital public service that enables users to find UK healthcare providers. It uses the <a href="https://data.gov.uk/data/api/" target="_blank">data.gov.uk API</a> to access healthcare information for a variety of service types, including hospitals, GP surgeries, pharmacies, clinics and social care.</p>
          <p class="lead">Your <a href="http://www.mashsoftware.com/contact/" target="_blank">feedback</a> will help to help improve this service. Please see the <a href="https://medium.com/mash-software" target="_blank">blog</a> for updates.</p>
          <p class="lead">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a>, except where otherwise stated.</p>
          <p class="lead">The source code for this service is open source and <a href="https://github.com/MashSoftware/health">available on GitHub</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
