<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mash Health</title>
<meta property="og:title" content="Mash Health"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{request.url}}"/>
<meta property="og:image" content=""/>
<meta property="og:description" content="Mash Health"/>
<meta property="og:site_name" content="Mash Health"/>
<meta property="og:locale" content="en-GB" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="//npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
<script src="//npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
{% assets "custom_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
